@import url('https://fonts.googleapis.com/css?family=Tajawal&display=swap');

.hotel {
    width: 200px;
    height: 200px;
    margin: 10px;
    border-radius: 5%;
    overflow: hidden;
    background-color: white;
  
    img {
      height: 60%;
      width: 100%;
    }
  
    .hotel-info {
      padding: 2px;
      text-align: center;
      display: flex;
      flex-direction: column;
      justify-content: space-around;

  
    .hotel-name {
     height: 20px;   
      line-height: 1rem;
      font-family: 'Tajawal', sans-serif;
      font-size: 0.9rem; 
      font-weight: bolder;
      margin-top: 1px;
      margin-bottom: 15px;
      // justify-content: space-between;
      // align-items: center;
    }

    .hotel-location-price {
      height: 25px;
      margin-top: 10px;
      margin-bottom: 5px;
      padding: 0 10px 0px 10px;
      display: flex;
      justify-content: space-between;
      font-size: 0.8rem; 

    

      .price-container {
        width: 35px;
        height: 25px;
        padding: 0.4em 0 0.4em 0;
        align-items: center;
        text-align: center;
        border-radius: 50px;
        background-color: #d8ecf3;
        font-size: 0.6rem;
        font-weight: bold;
        color: darkcyan;      
      }
    }
    
    }
  }
    .main-container {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      align-content: flex-start;
      padding: 20px;
    }

  