.App {
  background-color: white;
  // padding: 30px;
  width: 90%;
  border-radius: 30px;
  margin: 0 auto;
}


.MainSection {
  border-radius: 30px;
  background-color: #dedede;
  display: flex;
  width: 100%;
}